.maincontainer{
	margin-left: 12%;
	margin-top: 12%;
}

.littlebox{
	margin-top: 20px;
}

.choosen-label{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

#moredetails{
	background-color: #f1f4f5;
}

#confirmmoredetails{
	background-color: #f1f4f5;
}
.userinfo-add-btn{
	margin-left: 90%;
}
.excel-files{
	margin-top:2% ;
}
.csvpng{
	width: 30px;
	height: 30px;
	position: inherit;
}
