
/* login */
.stext{padding:6px 12px;width:380px;border:1px solid #a4a2a2;}


/* tag */
.plus-tag a,.plus-tag a em,.plus-tag-add a{background:url(../img/tagbg.png) no-repeat;}
.tagbtn a{color:#333333;display:block;float:left;height:25px;line-height:25px;overflow:hidden;margin:0 10px 10px 0;padding:0 10px 0 5px;white-space:nowrap;}

/* plus-tag */
.plus-tag{padding:0 0 10px 0;}
.plus-tag a{background-position:100% -26px;}
.plus-tag a span{float:left;}
.plus-tag a em{display:block;float:left;margin:5px 0 0 8px;width:13px;height:13px;overflow:hidden;background-position:-165px -99px;cursor:pointer;}
.plus-tag a:hover em{background-position:-168px -63px;}
/* plus-tag-add */
.plus-tag-add li{height:56px;position:relative;}
.plus-tag-add li .label{position:absolute;left:-110px;top:7px;display:block;}
.plus-tag-add a{float:left;margin:12px 0 0 20px;display:inline;font-size:14px;background-position:-289px -59px;padding:0 0 0 16px;}
.plus-tag-add a.plus{background-position:-289px -96px;}
